html {
}
body {
  margin: 20px 0px;
  padding: 0px;
  background-image: url("./images/background-texture.jpg");
}
#wrapper {

  width: 800px;
  margin: 0px auto;
  padding: 10px;
}
#main {
  margin-top: 30px;
  width: 800px;
  height: 635px;
  float: left;
}
#slides {
  display:none;
}
.buttons {
  margin-top: 30px;
  width: 800px;
}
.button {
  margin-left: 80px;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: #000000;
  float: left;
}
#zoom-btn {
  left: 200px;
}
#paint-btn {
  left: 400px;
}
#button-3 {
  left: 600px;
}
#button-4 {
  left: 800px;
}
.slidesjs-navigation img {
  padding-left: 10px;
  padding-right: 10px;
  height: 35px;
  width: 35px;
}
.left {
  float: left;
}
.right {
  float: right;
}
